section a {
    z-index: 1;
    font-size: 24px;
    font-weight: 400;
    margin: 10vh 0 0 50%;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
    transform: translateX(-50%);
    background-image: linear-gradient(rgba(0, 136, 169, 1), rgba(0, 136, 169, 1)), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: font-size 0.2s ease-in, padding 0.2s ease-in, background-size 0.2s ease-out;
}

section a:hover {
    font-size: 26px;
    background-size: 100% 5px, auto;
}

#akty {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 50px 20vw;
}

#akty .container h1 {
    font-size: 28px;
    border-bottom: 1px solid #EDF0F1;
    padding: 10px 0;
    font-weight: normal;
    max-width: 1200px;
}

#akty .container p {
    font-size: 18px;
    color: #EDF0F1;
    font-weight: lighter;
    letter-spacing: 0.5px;
    padding-top: 20px;
}