* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#section-1 {
    background-color: #1E2019;
    width: 100%;
    height: 85vh;
}

#section-1 h1 {
    color: #FFFFFF;
    text-align: center;
}

#section-1 main .container {
    display: flex;
    justify-content: space-evenly;
}

#section-1 nav h1 {
    padding-top: 2em;
    font-size: 28px;
}

#section-1 main h1 {
    padding-top: 4em;
    font-size: 42px;
}

#section-1 main .container {
    margin-top: 20vh;
}

#section-1 main .container .inv a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    transition: font-size 0.5s;
}

#section-1 main .container .inv a:hover {
    font-size: 24px;
}

#section-1 main .container .ab a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
    transition: font-size 0.5s;
}

#section-1 main .container .ab a:hover {
    font-size: 24px;
}

#section-2 {
    background-color: #FFFFFF;
    width: 100%;
    height: 80vh;
}

#section-2 main header {
    text-align: center;
    color: #222222;
}

#section-2 main header h1 {
    font-size: 42px;
    margin-top: 8vh;
}

#section-2 main .main-text {
    text-align: center;
    padding-top: 5vh;
    padding-right: 10vw;
    padding-left: 10vw;
    font-size: 20px;
    letter-spacing: 0.5px;
}

#section-2 main .main-text a {
    text-decoration: none;
    color: #222222;
    border-bottom: 2px solid #1683DD;
    transition: color 0.2s;
}

#section-2 main .main-text a:hover {
    color: #1683DD;
}

#section-2 main .container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15vh;
    padding-right: 1vw;
    padding-left: 1vw;
}

#section-2 main .container .edycja {
    text-align: center;
}

#section-2 main .container .status-edycji {
    text-align: center;
}

#section-2 main .container .status-edycji span {
    color: #65ff36;
    font-weight: bolder;
}

#section-2 main .lure {
    text-align: center;
    padding-top: 15vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

#section-2 main .lure h1 {
    font-size: 32px;
    padding-bottom: 5vh;
}

#section-2 main .lure span {
    font-size: 20px;
}

@media screen and (max-width: 769px) {
    #section-1 nav h1 {
        font-size: 24px;
    }

    #section-1 main h1 {
        font-size: 38px;
    }

    #section-1 main .container .inv a {
        font-size: 18px;
    }

    #section-1 main .container .inv a:hover {
        font-size: 20px;
        font-weight: bold;
    }

    #section-1 main .container .ab a {
        font-size: 18px;
    }

    #section-1 main .container .ab a:hover {
        font-size: 20px;
    }

    #section-2 main header h1 {
        font-size: 28px;
    }

    #section-2 main .lure h1 {
        font-size: 28px;
        padding-bottom: 5vh;
    }
    
    #section-2 main .lure span {
        font-size: 16px;
    }
}